@media screen and (max-width: 1024px) {
<<<<<<< HEAD
   #desktop-nav {
=======
  desktop-nav {
>>>>>>> parent of 0c59391 (added menu and scritp)
    display: none;
  }
  #hamburger-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 17vh;
  }
}