/* RAIZ DO PROJETO */

:root {
    --background-primary: black;
    --background-secondary: #191919;
    --color-title: #2EDFF2;
    --color-span: #f9004d;
    --colors-p: #D0EFF2;
    --color-h2: #D0EFF2;
    --background-form: #242424;
    --color-text-fundo-preto: white;
    --overlay: #000000b8;
    --color-title-projects: #ffffff;
}